@import url('https://fonts.googleapis.com/css?family=Roboto');

$number: 1;
$colorBlack: #1B354A;
$colorBlue: #0757A8;
$font: 'Roboto Condensed',Verdana, sans-serif;

* {
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 16px;
}
body {
    font-family: 'Roboto', sans-serif;
    overflow: auto;
    min-width: 320px;
    margin: 0;
    color: $colorBlack;
    max-width: 1024px;
    margin: 0 auto;
}
*:focus {
    outline: none;
}
// шапка навигация
.header-menu{
    font-family: $font;
    font-size: 0px;
    padding-left: 80px;
    .header-nav{
        display: inline-block;
        vertical-align: top;
        .header-menu__item {
            display: inline-block;
            position: relative;
            font-size: 14px;
            text-transform: uppercase;
            a {
                padding: 0 8px;
                font-style: normal;
                font-weight: bold;
                color: $colorBlack;
                -webkit-transition: all 0.2s ease-out;
                -o-transition: all 0.2s ease-out;
                transition: all 0.2s ease-out;
                text-decoration: none;
                &:hover {
                color: $colorBlue;
                }
            }
            .header-menu__more-button::after {
                content: "\E801";
                font-family: fontello;
                font-style: normal;
                border: 4px solid transparent;
                border-top-color: #fff;
                pointer-events: none;
                font-size: 8px;
                vertical-align: top;
                line-height: 17px;
            }
            ._active{
                color:$colorBlue;
                border: 2px solid $colorBlue;
                padding: 6px 4px 6px 8px;
                border-radius: 4px;
                display: block;
            }
        }
    }
    .header-menu__right{
        display: inline-block;
        padding-left: 25px;
        .header-menu__search-button{
            text-decoration: none;
            color:$colorBlack;
        }
        .header-menu__search-button::after{
            content: "\E800";
            font-family: fontello;
            font-style: normal;
            border: 4px solid transparent;
            border-top-color: #fff;
            pointer-events: none;
            font-size: 17px;
            vertical-align: top;
            line-height: 30px;
        }
        .header-menu__promo-button img{
            margin-right: 20px;
        }
    }
}
// шапка третий уровень
.header-submenu{
    font-family: $font;
    font-size: 0px;
    padding: 30px 0px 60px 80px;
    .header-submenu__item{
        display: inline-block;
        position: relative;
        font-size: 14px;
        text-transform: uppercase;
        padding-right: 8px;
        .header-submenu__link{
            padding: 0 8px;
            font-style: normal;
            font-weight: bold;
            color: $colorBlack;
            -webkit-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
            text-decoration: none;
            &:hover {
              color: $colorBlue;
            }
        }
    }
}
// шапка первый уровень
.header-top{
    font-size: 0px;
    .header-top__item{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: calc(100% - 240px);
        float: right;
        line-height: 60px;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-around;
        -ms-flex-pack: justify;
        justify-content: space-around;
    }
    .header-top__social{
        display: inline-block;
        vertical-align: top;
        line-height: 58px;
        .header-top__social-icon{
            display: inline-block;
            position: relative;
            font-size: 14px;
            padding-right: 8px;
            color: $colorBlue;
            font-family: fontello;
            font-style: normal;
            border: 4px solid transparent;
            border-top-color: #fff;
            vertical-align: top;
            text-decoration: none;
        }
        ._vk::after{
            content: "\E80A";
        }
        ._ok::after{
            content: "\E805";
            font-size: 16px;
        }
        ._fb::after{
            content: "\F09A";
            font-size: 17px;
        }
        ._inst::after{
            content: "\F16D";
            font-size: 20px;
        }
        ._twit::after{
            content: "\E808";
        }
    }
    .header-top__geo{
        display: inline-block;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: $colorBlue;
        text-decoration: none;
    }
    .header-top__geo::after {
        content: "\E801";
        font-family: fontello;
        font-style: normal;
        border: 4px solid transparent;
        border-top-color: #fff;
        font-size: 8px;
        vertical-align: top;
        line-height: 59px;
    }
    .header-top__geo::before {
        content: "\E807";
        font-family: fontello;
        font-style: normal;
        border: 4px solid transparent;
        border-top-color: #fff;
        pointer-events: none;
        font-size: 12px;
        vertical-align: top;
        line-height:59px;
    }
    .header-top__date{
        display: inline-block;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
    }
    .header-top__logo{
        font-family: $font;
        color: $colorBlue;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        text-decoration: none;
        text-transform: uppercase;
        line-height: 60px;
    }
    .header-top__logo::before{
        content: "\E803";
        font-family: fontello;
        font-style: normal;
        border: 4px solid transparent;
        border-top-color: #fff;
        pointer-events: none;
        font-size: 38px;
        vertical-align: top;
        line-height: 60px;
        width: 60px;
        display: inline-block;
        text-align: center;
        padding-left: 20px;
    }
}
h1{
    padding-left: 20px;
    font-size: 20px;
    line-height: 100%;
}

// блок прямой эфир
.page-content{
    padding: 10px 20px;
    .list-of-dates{
        font-size: 0px;
        padding: 0 50px;
        .list-of-dates__item{
            display: inline-block;
            position: relative;
            font-size: 14px;
            padding-right: 8px;
            width: 66px;
            height: 76px;
            background-repeat: no-repeat;
            vertical-align: top;
            padding: 12px 7px 0 7px;
            font-style: normal;
            font-weight: bold;
            font-size: 11px;
            line-height: 20px;
            text-align: center;
            color: #fff;
            background-size: 93%;
            background-position: center;
            cursor: pointer;
            &:hover {
                background-size: 100%;
              }
            .list-of-dates__date{
                border-bottom: 2px solid #fff;
                p{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 30px;
                }
            }
        }
        ul{
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-evenly;
            -ms-flex-pack: justify;
            justify-content: space-evenly;
        }
    }
    .page-content__info{
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 335px);
        .page-content__name{
            color: $colorBlue;
            margin-bottom: 10px;
        }
    }
    .page-content__sidebar{
        display: inline-block;
        float: right;
        padding-top: 20px;
        p{
            font-style: normal;
            font-weight: normal;
            font-size: 8px;
            color: #BCBCBC;
        }
        img{
            display: inline-block;
            border: 1px solid #E0E0E0;
            padding: 5px;
        }
    }
}
// информационный блок с трансляциями плиткой
.info-bar{
    h2{
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 100%;
        color: #000000;
        margin-top: 30px;
    margin-bottom: 30px;
    }
    background: #EDF1F6;
    text-align: center;
    font-size: 0;
    padding: 2px 20px;
    margin-top: 30px;
    .info-bar__cases{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        .info-bar__case{
            margin-bottom: 20px;
            text-align: left;
            position: relative;
            .info-bar__commercial{
                font-style: normal;
                font-weight: normal;
                font-size: 8px;
                color: #BCBCBC;
            }
            .info-bar__text{
                color: #FFFFFF;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 25px;
                position: absolute;
                bottom: 0;
                padding: 20px;
                background: linear-gradient(to bottom, rgba(33, 30, 30, 0) 0%, rgba(33, 30, 30, 0) 9%, rgba(33, 30, 30, 0) 21%, rgba(33, 30, 30, 0.34) 38%, rgba(33, 30, 30, 0.48) 49%, #0d1f3285 50%, #0D1F32 89%, #0D1F32 91%);
            }
            .info-bar__view{
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 20px;
                color: #FFFFFF;
                position: absolute;
                padding: 10px 20px;
            }
            .info-bar__view::before{
                content: "\E812";
                font-family: fontello;
                font-style: normal;
                border-top-color: #fff;
                pointer-events: none;
                font-size: 7px;
                vertical-align: top;
                line-height: 19px;
                margin-right: 7px;
            }
            .info-bar__play{
                position: absolute;
                right: 0;
                padding: 10px 20px;
            }
            .info-bar__play::before{
                content: "\E804";
                font-family: fontello;
                font-style: normal;
                border-top-color: #fff;
                pointer-events: none;
                font-size: 13px;
                vertical-align: top;
                line-height: 19px;
                color: #fff;
            }
            ._fifty{
                height: 52%;
                background: #0D1F32;
            }
            .text_min{
                font-size: 16px;
                padding-bottom: 7px;
            }
            
        }
        ._prev{
            padding: 10px;
            background-color: #0D1F32;
        }
    }
    .info-bar__more{
        color: $colorBlue;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        border: 2px solid $colorBlue;
                padding: 6px 4px 6px 8px;
                border-radius: 4px;
                cursor: pointer;
    }
    .info-bar__banner{
        margin-top: 40px;
        margin-bottom: 90px;
        display: block;
    }
}
// даты событий карусель
.date-carousel{
    position: relative;
    margin-top: 20px;
    .next{
        width: 44px;
        height: 44px;
        position: absolute;
        top: 15px;
        right: 0;
        cursor: pointer;
        img{
            max-width: 90%;
            &:hover{
                max-width: 100%;
            }
        }
    }
    .prev{
        width: 44px;
        height: 44px;
        position: absolute;
        top: 15px;
        left: 0;
        cursor: pointer;
        img{
            max-width: 90%;
            &:hover{
                max-width: 100%;
            }
        }
    }
}
// блок с расписанием
.contest-tab{
    .selected-items{
        font-size: 0px;
        margin-top: 50px;
        li{
            display: inline-block;
            position: relative;
            font-size: 14px;
        }
        .item_time{
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            margin-right: 20px;
        }
        .item_time::before{
            content: "\E80E";
            font-family: fontello;
            font-style: normal;
            border-top-color: #fff;
            font-size: 21px;
            vertical-align: top;
            line-height: 16px;
            color: #000;
            margin-right: 10px;
        }
        .item_title{
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            color: $colorBlue;
            margin-right: 15px;
        }
        .item_awards{
            img{
                vertical-align: middle;
                margin-right: 15px;
            }
        }
        .item_flag{
            img{
                vertical-align: middle;
                margin-right: 15px;
            }
        }
        .item_channel::before{
            content: "\E809";
            font-family: fontello;
            font-style: normal;
            border-top-color: #fff;
            font-size: 21px;
            vertical-align: top;
            line-height: 16px;
            color: $colorBlue;
            margin-right: 10px;
        }
    }
    .selected-text{
        font-size: 15px;
        margin-top: 15px;
        color: #000;
    }
    .contest-coment{
        margin-top: 15px;
        .coment-item{
            a{
                font-weight: 500;
                font-size: 15px;
                color: $colorBlue;
            }
        }
    }
    .contest-coment::before{
        content: "\E80D";
            font-family: fontello;
            font-style: normal;
            border-top-color: #fff;
            font-size: 21px;
            vertical-align: top;
            line-height: 16px;
            color: #000;
            margin-right: 10px;
    }
    h3{
        font-size: 24px;
    margin-top: 25px;
    }
    .contest-view{
        margin-top: 20px;
        .view-btn{
            font-weight: 500;
            font-size: 14px;
            background-color: #0757A8;
            color: #fff;
            border-radius: 30px;
            display: inline-block;
            padding: 10px 20px;
            margin-right: 15px;
            cursor: pointer;
            -webkit-transition: all 0.2s ease-out;
                -o-transition: all 0.2s ease-out;
                transition: all 0.2s ease-out;
            &:hover{
                background-color: #2077D0;  
            }
            &:active{
                background-color: #013D78;  
            }
        }
        .view-btn::before{
            content: "\E804";
            font-family: fontello;
            font-style: normal;
            border-top-color: #fff;
            font-size: 21px;
            vertical-align: top;
            line-height: 16px;
            color: #fff;
            margin-right: 10px;
        }
        .view-online{
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            color: rgba(238, 25, 25, 0.74);
            display: inline-block;
        }
    }
}


@media screen and (max-width: 1170px) {
 
}
